{% extends '_base.html' %}

{% block title %}Project List{% endblock %}

{% block content %}
<div className="flex gap-4">
	{% for project in projects %}
  <h1>My Projects</h1>
  <ul>
      {% for project in projects %}
          <li>{{ project.title }}</li>
          <li>{{ project.status }}</li>
          <li>{{ project.description }}</li>
          <li>{{ project.due_date }}</li>
          <li>{{ project.creator }}</li>
      {% empty %}
          <li>No projects found.</li>
      {% endfor %}
  </ul>
	{% endfor %}
</div>
{% endblock %}
