{% extends 'base.html' %}
<!-- -->
{% block title %}Sprints{% endblock %}

<!-- -->
{% block content %}
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="bg-white dark:bg-slate-800 p-4 rounded-md shadow-md">
    <h2
      class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Projects
    </h2>
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ projects_count }}
    </h5>
  </div>
  <div class="bg-white dark:bg-slate-800 p-4 rounded-md shadow-md">
    <h2
      class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Sprints
    </h2>
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ sprints_count }}
    </h5>
  </div>
  <div class="bg-white dark:bg-slate-800 p-4 rounded-md shadow-md">
    <h2
      class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Tasks
    </h2>
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ tasks_count }}
    </h5>
  </div>
  <div class="bg-white dark:bg-slate-800 p-4 rounded-md shadow-md">
    <h2
      class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Daily Logs
    </h2>
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ dailylogs_count }}
    </h5>
  </div>
</div>
{% endblock %}
